.bg-grid{
    background-image: url(../img/grid.png);
    background-position: 49.9% 20px;
}


.brown-gradient{
    background-color: #fff5f3;

}

.content-padding{
    padding-top:80px;
    padding-bottom:80px;
}

.l-h-1x {
    line-height: 1;
}

.text-black {
    color: #000;
}


.no-border-b{
    border-bottom:none !important;
}

.p-14-10{
    padding:14px 10px;
}
.p-b-4{
    padding-bottom:4px;
}

.icon-font{
    font-size:32px;
}

.icon-font2{
    display: inline-block;
    width: 24px !important;
    height: 24px !important;
    font-size:24px;
    line-height: 24px;
    position: absolute;
    top:7px;
    margin-left: -12px;
    @media(max-width:767px){
        margin-left: 0px;
    }
}

.bg-lt-grey{
    background-color:#f1f3f4 !important;
}

.bg-grey{
    background-color:#e3e7ea !important;
    background: #e3e7ea !important;
}

.bg-dk-grey{
    background-color:#d6dbe0 !important;
}

.bg-purple-lt{
    background-color: #e8dcff; 
}

.text-muted2{
    color: #1e1e1e;
}

.opacity-4{
    .opacity(0.4);
}

.visible-mobile{
    display:none;
    @media(max-width: 767px) {
        display:inline-block;
    }
}

.collapse-fix{
    width: 32px;
    height: 32px;

}

.avatar-fix{
    width:40px;
    margin-right: 5px;
}


.m-t-60{
    margin-top:60px;
}

.m-t-70{
    margin-top:70px;
}

.m-t-14{
    margin-top:14px !important;
}

a{
    &:hover{
        color: @brand-primary;
    }
}