<!-- START: FORUM-TOPIC -->
<div class="panel panel-default">
    <div class="panel-heading p-t-30 p-r-l-30 no-p-b no-b-i no-text-transform">
        <div class="h3 no-m m-b-10 font-thin item">
            <div class="item-wrapper top left">
                <div>
                    <i class="icon-arrows {{iconClass}}"></i>
                </div>
            </div>
            <a class="p-l-30 font-normal"> {{topic_name}}</a>
        </div>
    </div>
    <div class="panel-body p-30 p-t-15">
        <p class="">
            {{description}} [...]
        </p>
        <ul class="list-unstyled tag-list inline-block m-b-10">
            {% for tag in tags %}
                <li><a>{{tag}}</a></li>
            {% endfor %}
        </ul>
        <div class="m-t-10">
            <div class="inline-block b-rad-500 p-20 bg-light text-center m-b-5">
                <div class="h5 no-m">{{views}}</div>
                <div class="text-xs">views</div>
            </div>
            <div class="inline-block b-rad-500 p-20 bg-light text-center">
                <div class="h5 no-m">{{posts}}</div>
                <div class="text-xs">posts</div>
            </div>

        </div>
        <div class="text-xs m-t-10">
            <a>{{user.name}}</a> - <span class="text-muted">{{time}}</span>
        </div>
    </div>
</div>
<!-- END: FORUM-TOPIC -->