<div class="panel panel-default">
    <div class="panel-heading p-t-30 p-r-l-30 no-p-b no-b-i">
        <span class="label {% if type=='new' %}label-primary{% elseif type=='success' %}label-success{% else %}label-danger{% endif %} b-rad-100 label-line inline-block">{{type}}</span>

        <span class="pull-right text-muted">{{time}}</span>
    </div>
    <div class="panel-body p-30 p-t-15">
        <h4 class="font-normal">{{title}}</h4>
        <p>
            {{description}}
        </p>
        <ul class="list-unstyled tag-list inline-block">
            {% for tag in tags %}
                <li><a>{{tag}}</a></li>
            {% endfor %}
        </ul>
        <div>
            {% for auser in assigned %}
                <a class="avatar m-r-3">
                    <img src="img/{{auser.avatar}}" class="img-circle thumb-xxs" alt="pic">
                    <i class="on bottom"></i>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="panel-footer p-t-b-20 p-r-l-30">
        <a class="pull-right"><i class="icon-arrows icon-arrows-slim-right linea-md"></i></a>
        <a>
            <img src="img/avatars/{{user.avatar}}" class="img-circle pull-left avatar-fix" alt="avatar">
            <div>
                <div class="font-normal">{{user.name}}</div>
                <div class="text-muted text-xs">{{user.company}}</div>
            </div>
        </a>
    </div>
</div>