<h3 class="no-m-t ">How can we help you?</h3>
<div class="subheading text-muted m-b-10">Choose the category</div>
<div>
    <div class="accordion-alt accordion-bordered">
        <div class="panel-group" role="tablist" aria-multiselectable="false">
            <div class="panel panel-default no-b-r no-b-l">
                <div class="panel-heading no-bg" role="tab">
                    <h4 class="panel-title">
                        <span role="button" data-toggle="collapse" href="#c1">
                            Getting Started
                        </span>
                    </h4>
                </div>
                <div id="c1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body bg-lightgrey">
                        <ul class="list-unstyled no-m">
                            <li class="m-b-10">
                                <label class="app-checkbox">
                                    <input type="checkbox"> 
                                    <i></i>
                                    <span class="font-normal">Category #1 </span>
                                </label>
                            </li>
                            <li class="m-b-10">
                                <label class="app-checkbox">
                                    <input type="checkbox"> 
                                    <i></i>
                                    <span class="font-normal">Category #2 </span> 
                                </label>
                            </li>
                            <li>
                                <label class="app-checkbox">
                                    <input type="checkbox"> 
                                    <i></i>
                                    <span class="font-normal">Category #3 </span> 
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default no-b-r no-b-l">
                <div class="panel-heading no-bg" role="tab">
                    <h4 class="panel-title">
                        <span class="collapsed" role="button" data-toggle="collapse" href="#c2">
                            Templates and design
                        </span>
                    </h4>
                </div>
                <div id="c2" class="panel-collapse collapse">
                    <div class="panel-body bg-lightgrey">
                        <ul class="list-unstyled no-m">
                            <li class="m-b-10">
                                <label class="app-checkbox">
                                    <input type="checkbox"> 
                                    <i></i>
                                    <span class="font-normal">Category #1 </span>
                                </label>
                            </li>
                            <li class="m-b-10">
                                <label class="app-checkbox">
                                    <input type="checkbox"> 
                                    <i></i>
                                    <span class="font-normal">Category #2 </span> 
                                </label>
                            </li>
                            <li>
                                <label class="app-checkbox">
                                    <input type="checkbox"> 
                                    <i></i>
                                    <span class="font-normal">Category #3 </span> 
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default no-b-r no-b-l">
                <div class="panel-heading no-bg" role="tab">
                    <h4 class="panel-title">
                        <span class="collapsed" role="button" data-toggle="collapse" href="#c3">
                            Domains
                        </span>
                    </h4>
                </div>
                <div id="c3" class="panel-collapse collapse">
                    <div class="panel-body bg-lightgrey">
                        <ul class="list-unstyled no-m">
                            <li class="m-b-10">
                                <label class="app-checkbox">
                                    <input type="checkbox"> 
                                    <i></i>
                                    <span class="font-normal">Category #1 </span>
                                </label>
                            </li>
                            <li class="m-b-10">
                                <label class="app-checkbox">
                                    <input type="checkbox"> 
                                    <i></i>
                                    <span class="font-normal">Category #2 </span> 
                                </label>
                            </li>
                            <li>
                                <label class="app-checkbox">
                                    <input type="checkbox"> 
                                    <i></i>
                                    <span class="font-normal">Category #3 </span> 
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default no-b-r no-b-l">
                <div class="panel-heading no-bg" role="tab">
                    <h4 class="panel-title">
                        <span class="collapsed" role="button" data-toggle="collapse" href="#c4">
                            Account and billing
                        </span>
                    </h4>
                </div>
                <div id="c4" class="panel-collapse collapse">
                    <div class="panel-body bg-lightgrey">
                        <ul class="list-unstyled no-m">
                            <li class="m-b-10">
                                <label class="app-checkbox">
                                    <input type="checkbox"> 
                                    <i></i>
                                    <span class="font-normal">Category #1 </span>
                                </label>
                            </li>
                            <li class="m-b-10">
                                <label class="app-checkbox">
                                    <input type="checkbox"> 
                                    <i></i>
                                    <span class="font-normal">Category #2 </span> 
                                </label>
                            </li>
                            <li>
                                <label class="app-checkbox">
                                    <input type="checkbox"> 
                                    <i></i>
                                    <span class="font-normal">Category #3 </span> 
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default no-b-r no-b-l">
                <div class="panel-heading no-bg" role="tab">
                    <h4 class="panel-title">
                        <span class="collapsed" role="button" data-toggle="collapse" href="#c5">
                            SEO and analytics
                        </span>
                    </h4>
                </div>
                <div id="c5" class="panel-collapse collapse">
                    <div class="panel-body bg-lightgrey">
                        <ul class="list-unstyled no-m">
                            <li class="m-b-10">
                                <label class="app-checkbox">
                                    <input type="checkbox"> 
                                    <i></i>
                                    <span class="font-normal">Category #1 </span>
                                </label>
                            </li>
                            <li class="m-b-10">
                                <label class="app-checkbox">
                                    <input type="checkbox"> 
                                    <i></i>
                                    <span class="font-normal">Category #2 </span> 
                                </label>
                            </li>
                            <li>
                                <label class="app-checkbox">
                                    <input type="checkbox"> 
                                    <i></i>
                                    <span class="font-normal">Category #3 </span> 
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="subheading text-muted m-b-10">fill the form</div>
<form role="form">
    <div class="row row-gap-5">
        <div class="col-sm-6">
            <div class="form-group form-group-alt m-b-10">
                <label>First name *</label>
                <input type="text" class="form-control" placeholder="John">
                <span></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-alt m-b-10">
                <label>Last name *</label>
                <input type="text" class="form-control" placeholder="Doe">
                <span></span>
            </div>
        </div>
    </div>
    <div class="row row-gap-5">
        <div class="col-sm-12">
            <div class="form-group form-group-alt m-b-10">
                <label>Email address *</label>
                <input type="text" class="form-control" placeholder="jonhdoe@app.com">
                <span></span>
            </div>
        </div>
    </div>
    <div class="row row-gap-5">
        <div class="col-sm-8">
            <div class="form-group form-group-alt m-b-10">
                <label>Subject *</label>
                <input type="text" class="form-control" placeholder="summary of the problem">
                <span></span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group form-group-alt m-b-10">
                <label>Priority</label>
                <select class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span></span>
            </div>
        </div>
    </div>
    <div class="row row-gap-5">
        <div class="col-sm-12">
            <textarea id="msgTextarea" class="form-control" placeholder="your message here" style="height:70px;"></textarea>
        </div>
    </div>
    <div class="checkbox p-r-l-10">
        <label class="app-checkbox">
            <input type="checkbox"> 
            <i></i>
            I agree
        </label>
        <button type="submit" class="btn btn-sm btn-primary btn-line btn-rounded pull-right">Submit</button>
    </div>
</form>