<div class="p-30 bg-lightgrey xs-p-15">
    <div class="subheading text-muted m-b-10">Recent posts</div>
    <div>
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object " alt="pic"  src="img/bgimg/small/22.jpg" data-holder-rendered="true" style="width: 64px; height: 64px;">
                </a>
            </div>
            <div class="media-body">
                <h5 class="media-heading font-normal"><a>Using Angular 1.x With ES6</a></h5>
                <div class="text-xs font-thin">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante</div>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object " alt="pic" src="img/bgimg/small/23.jpg" data-holder-rendered="true" style="width: 64px; height: 64px;">
                </a>
            </div>
            <div class="media-body">
                <h5 class="media-heading font-normal"><a>Why Will Angular 2 Rock?</a></h5>
                <div class="text-xs font-thin">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante</div>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object " alt="pic" src="img/bgimg/small/24.jpg" data-holder-rendered="true" style="width: 64px; height: 64px;">
                </a>
            </div>
            <div class="media-body">
                <h5 class="media-heading font-normal"><a>Introduction to Angular 2</a></h5>
                <div class="text-xs font-thin">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante</div>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object " alt="pic" src="img/bgimg/small/25.jpg" data-holder-rendered="true" style="width: 64px; height: 64px;">
                </a>
            </div>
            <div class="media-body">
                <h5 class="media-heading font-normal"><a>A Backend-less Plunker</a></h5>
                <div class="text-xs font-thin">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante</div>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object " alt="pic" src="img/bgimg/small/27.jpg" data-holder-rendered="true" style="width: 64px; height: 64px;">
                </a>
            </div>
            <div class="media-body">
                <h5 class="media-heading font-normal"><a>Working With Laravel</a></h5>
                <div class="text-xs font-thin">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante</div>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object " alt="pic" src="img/bgimg/small/34.jpg" data-holder-rendered="true" style="width: 64px; height: 64px;">
                </a>
            </div>
            <div class="media-body">
                <h5 class="media-heading font-normal"><a>My New Angular Workflow</a></h5>
                <div class="text-xs font-thin">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante</div>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object " alt="pic" src="img/bgimg/small/29.jpg" data-holder-rendered="true" style="width: 64px; height: 64px;">
                </a>
            </div>
            <div class="media-body">
                <h5 class="media-heading font-normal"><a>Deep Dive Into Angular.js</a></h5>
                <div class="text-xs font-thin">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante</div>
            </div>
        </div>
    </div>

    <div class="subheading text-muted m-b-10 m-t-30">Last registered users</div>
    <div>
        <a><img class=" m-b-3 img-circle"  src="img/avatar1.jpg" data-holder-rendered="true" style="width: 32px; height: 32px;" alt="pic"></a>
        <a><img class=" m-b-3 img-circle"  src="img/avatar9.jpg" data-holder-rendered="true" style="width: 32px; height: 32px;" alt="pic"></a>
        <a><img class=" m-b-3 img-circle"  src="img/avatar2.jpg" data-holder-rendered="true" style="width: 32px; height: 32px;" alt="pic"></a>
        <a><img class=" m-b-3 img-circle"  src="img/avatar3.jpg" data-holder-rendered="true" style="width: 32px; height: 32px;" alt="pic"></a>
        <a><img class=" m-b-3 img-circle"  src="img/avatar4.jpg" data-holder-rendered="true" style="width: 32px; height: 32px;" alt="pic"></a>
        <a><img class=" m-b-3 img-circle"  src="img/avatar5.jpg" data-holder-rendered="true" style="width: 32px; height: 32px;" alt="pic"></a>
        <a><img class=" m-b-3 img-circle"  src="img/avatar6.jpg" data-holder-rendered="true" style="width: 32px; height: 32px;" alt="pic"></a>
    </div>
    <div class="subheading text-muted m-b-10 m-t-30">Hashtags</div>
    <div>
        <ul class="list-unstyled tag-list inline-block no-m">
            <li><a>#AngularJs</a></li>
            <li><a>#Javascript</a></li>
            <li><a>#HTML5</a></li>
            <li class="active"><a>#Admin template</a></li>
            <li><a>#NodeJS</a></li>
            <li><a>#SocketIO</a></li>
            <li><a>#JQuery</a></li>
            <li><a>#PHP</a></li>
            <li><a>#Free support</a></li>
            <li><a>#Highly customizable</a></li>
        </ul>
    </div>
    <div class="subheading text-muted m-b-10 m-t-30">Recent comments</div>
    <div>
        <div class="m-b-10">
            <a>
                <div class="h5 no-m m-b-5 font-thin"><i class="fa fa-comment-o"></i> My New Angular Workflow</div>
                <div class="no-m text-xs font-thin">Cras sit amet nibh libero, in gravida nulla. Nulla vel  ante</div>
            </a>
        </div>
        <div class="m-b-10">
            <a>
                <div class="h5 no-m m-b-5 font-thin"><i class="fa fa-comment-o"></i> Working With Laravel</div>
                <div class="no-m text-xs font-thin">in gravida nulla. Nulla vel metus scelerisque ante</div>
            </a>
        </div>
        <div class="m-b-10">
            <a>
                <div class="h5 no-m m-b-5 font-thin"><i class="fa fa-comment-o"></i> A Backend-less Plunker</div>
                <div class="no-m text-xs font-thin">Cras sit amet nibh libero, inlla vel metus scelerisque ante</div>
            </a>
        </div>
        <div class="m-b-10">
            <a>
                <div class="h5 no-m m-b-5 font-thin"><i class="fa fa-comment-o"></i> NodeJS in production</div>
                <div class="no-m text-xs font-thin">amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante</div>
            </a>
        </div>
        <div>
            <a>
                <div class="h5 no-m m-b-5 font-thin"><i class="fa fa-comment-o"></i> Working With Laravel</div>
                <div class="no-m text-xs font-thin">Cras sit amet nibh ulla. Nulla vel metus scelerisque ante</div>
            </a>
        </div>
    </div>
    <div class="subheading text-muted m-b-10 m-t-30">Categories</div>
    <div>
        <ul class="list-unstyled">
            <li class="m-b-10"><a><i class="fa fa-fw fa-folder-open-o"></i> Aside  <span class="pull-right label label-info label-rounded">212</span></a></li>
            <li class="m-b-10"><a><i class="fa fa-fw fa-folder-open-o"></i> Header  <span class="pull-right label label-info label-rounded">32</span></a></li>
            <li class="m-b-10"><a><i class="fa fa-fw fa-folder-open-o"></i> Layout  <span class="pull-right label label-info label-rounded">13</span></a></li>
            <li class="m-b-10"><a><i class="fa fa-fw fa-folder-open-o"></i> Technogolies  <span class="pull-right label label-info label-rounded">10</span></a></li>
            <li class="m-b-10"><a><i class="fa fa-fw fa-folder-open-o"></i> Ideas  <span class="pull-right label label-info label-rounded">5</span></a></li>
            <li class="m-b-10"><a><i class="fa fa-fw fa-folder-open-o"></i> UI/UX  <span class="pull-right label label-info label-rounded">2</span></a></li>
        </ul>
    </div>
    <div class="m-t-30">
        <div class="row no-m text-center">
            <div class="col-sm-4 col-xs-6 no-p bg-grey">
                <div class="p-t-b-20">
                    <i class="fa fa-facebook fa-2x"></i>
                    <div>3434</div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6 no-p bg-dk-grey">
                <div class="p-t-b-20">
                    <i class="fa fa-twitter fa-2x"></i>
                    <div>120</div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6 no-p bg-grey">
                <div class="p-t-b-20">
                    <i class="fa fa-google-plus fa-2x"></i>
                    <div>22</div>
                </div>
            </div>
        </div>
    </div>
</div>