<div class="panel panel-default">
    <div class="panel-body no-p-i">
        <div class="item">
            <div class="wrapper top left">
                <div class="p-30"><span class="label label-{{tagcolor}}  h3 no-m label-rounded font-montserrat text-uppercase">{{tag}}</span></div>
            </div>
            <img src="{{cover}}" class="img-responsive" alt="pic"> 
        </div>
        <div class="m-t-20 p-r-l-30 xs-no-p">
            <h3 class="no-m m-b-10">
                <a>{{title}}</a>
            </h3>
            <p class="no-m">
                {{content}}
            </p>
        </div>
    </div>
</div>